{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<div class="example-wrapper">
<twig:Header/>

<p>
	welcome to this site. this sites shows you a overview of all climbing area's
	<button type="button" class="btn btn-link">
		<a href="{{path('app_area')}}">
			view
		</a>
	</button>
</p>


</div>
{% endblock %}
