{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<div class="example-wrapper">
 <a href="{{ path('app_register')}}">
        register
    </a>
       <a href="{{ path('app_login')}}">
       login 
    </a>
     <a href="{{ path('app_area')}}">
       create area 
    </a>
</div>
{% endblock %}
