<div{{attributes}}>
	<!-- component html -->
	<a href="{{ path('app_register')}}">
		register
	</a>
	<a href="{{ path('app_login')}}">
		login
	</a>
	<a href="{{ path('app_area')}}">
		create area
	</a>
</div>

