{% extends 'base.html.twig' %}

{% block title %}Hello AreaController!{% endblock %}

{% block body %}

<twig:Header/>


<div class="example-wrapper">
    publish a new area here:
    {{ form(form) }}
</div>
{% endblock %}
